language: cpp

cache: # see https://docs.travis-ci.com/user/caching/
  - directories:
    - $HOME/.cache
  
addons:
  apt:
    sources:
      - george-edison55-precise-backports
    packages:
      - cmake-data
      - cmake
      - libswscale-dev
      - libavformat-dev
      - libavcodec-dev
      - libavutil-dev
      
matrix:
  include:
  - os: linux
    dist: bionic
  - os: windows
  
script: ./build_travis.sh

before_install:
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then choco install ffmpeg; fi

git:
  depth: 1
  quiet: true

deploy:
  provider: releases
  skip_cleanup: true
  api_key: $GITHUB_TOKEN  # set as env variable in the travis build settings page
  file: bin/derperview
  keep_history: true
  prerelease: true
  overwrite: true
  on:
    tags: true
    branch: master
