language: cpp

cache: # see https://docs.travis-ci.com/user/caching/
  - directories:
    - $HOME/.cache
  
addons:
  apt:
    sources:
      - george-edison55-precise-backports
    packages:
      - cmake-data
      - cmake
      - libswscale-dev
      - libavformat-dev
      - libavcodec-dev
      - libavutil-dev
      
matrix:
  include:
  - os: linux
    dist: bionic
  - os: osx
  - os: windows
  
script: ./build_and_install.sh

before_install:
  # for osx install ffmpeg libs using brew
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew install ffmpeg; fi

  # for windows install ffmpeg libs from the sources
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then wget https://ffmpeg.zeranoe.com/builds/win64/dev/ffmpeg-4.2.1-win64-dev.zip; fi
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then 7z x -y ffmpeg-4.2.1-win64-dev.zip; fi
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then mv ffmpeg-4.2.1-win64-dev ffmpeg-dev-windows; fi

after_success:
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then tree .; fi

git:
  depth: 1
  quiet: true

deploy:
  provider: releases
  skip_cleanup: true
  api_key: $GITHUB_TOKEN  # set as env variable in the travis build settings page
  file: bin/derperview
  keep_history: true
  prerelease: true
  overwrite: true
  on:
    tags: true

